html {
	max-width: 100ch;
	padding: 2ch;
	margin: auto;
	font-size: 1.2em;
	font-family: sans-serif;
	color: aliceblue;
	background-color: #121212;
}

.discContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.discBox {
	margin: 5px;
	font-size: 12px;
	word-wrap: break-word;
}

.discImage {
	width: 100px;
	height: 100px;
}

.singleDisk {
	height: 500px;
	width: 500px;
}
